<ion-modal-view>
<ion-header-bar class="bar-positive">
    <div class="buttons">
        <button class="button" ui-sref="medicos">Voltar</button>
        <h1 class="title">Editar Médico</h1>
    </div>
</ion-header-bar>

<ion-content>
    <div>
        <ion-list>
            <li class="item item-input item-stacked-label">
                <textarea type="text" name="crm" rows="2" ng-model="medico.crm" required></textarea>
            </li>
			<li class="item item-input item-stacked-label">
                <textarea type="text" name="nome" rows="2" ng-model="medico.nome" required></textarea>
            </li>
            <ion-button class="button button-block button-positive" ng-click="edit()">
                Atualizar
            </ion-button>
        </ion-list>
    </div>
</ion-content>
</ion-modal-view>