<ion-modal-view>
<ion-header-bar class="bar-positive">
    <div class="buttons">
        <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
        <h1 class="title">Médicos Cadastrados</h1>
        <button class="button" ui-sref="createMedico">Novo</button>
    </div>
</ion-header-bar>

<ion-content>
    <ion-list show-delete="data.showDelete">
        <ion-item ng-repeat="item in items | orderBy: '-createdAt'"
                  item="item"
                  href="#/medico/edit/{{item.objectId}}/{{item.crm}}">
            {{item.crm}}
            <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
        </ion-item>
    </ion-list>
</ion-content>
</ion-modal-view>